[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-photoswipe5-gallery"]
	path = themes/hugo-photoswipe5-gallery
	url = git@github.com:thkukuk/hugo-photoswipe5-gallery.git
[submodule "themes/hugo-book-render-images"]
	path = themes/hugo-book-render-images
	url = git@github.com:fransimo/hugo-book-render-images.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
