{{/* Canonical */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Alternates for all languages (includes self) */}}
{{ range .AllTranslations -}}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{- end }}

{{/* x-default = site’s default language version of this page */}}
{{- $defaultLang := site.Language.Lang -}}
{{- range .AllTranslations -}}
  {{- if eq .Lang $defaultLang -}}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">
  {{- end -}}
{{- end -}}
