{{/* 1) page-bundle schema.json (templated) */}}
{{ $pg := . }}
{{ with $pg.Resources.Get "schema.json" }}
  {{ $rendered := . | resources.ExecuteAsTemplate .Name $pg }}
  <script type="application/ld+json">{{- $rendered.Content | safeJS -}}</script>

{{ else }}
  {{/* type picking */}}
  {{ $isBlog := or (eq $pg.Section "blog") (eq $pg.Type "posts") }}
  {{ $type := or $pg.Params.schemaType (cond $isBlog "BlogPosting" (cond (eq $pg.Kind "home") "WebSite" "WebPage")) }}

  {{/* site helpers */}}
  {{ $siteAuthor :=  or .Site.Params.author.name .Site.Author.name .Site.Title }}
  {{ $orgName    :=  or .Site.Params.organization.name .Site.Title }}
  {{ $orgLogo    :=  .Site.Params.organization.logo }}
  {{ $lang       :=  or $pg.Language.Lang $pg.Lang }}
  {{ $hasOrg     :=  .Site.Params.organization.name }}
  {{ $provider   :=  dict "@type" (cond $hasOrg "Organization" "Person") "name" (cond $hasOrg $orgName $siteAuthor) }}

  {{/* image + offers */}}
  {{ $img := "" }}
  {{ with $pg.Params.images }}{{ $img = index . 0 }}{{ end }}
  {{ with (first 1 ($pg.Resources.ByType "image")) }}{{ $img = (index . 0).Permalink }}{{ end }}

  {{ $offers := dict }}
  {{ with $pg.Params.price }}         {{ $offers = merge $offers (dict "@type" "Offer" "price" .) }}        {{ end }}
  {{ with $pg.Params.priceCurrency }} {{ $offers = merge $offers (dict "priceCurrency" .) }}                {{ end }}
  {{ with $pg.Params.availability }}  {{ $offers = merge $offers (dict "availability" .) }}                 {{ end }}
  {{ with $pg.Params.sku }}           {{ $offers = merge $offers (dict "sku" .) }}                          {{ end }}
  {{ if gt (len $offers) 0 }}         {{ $offers = merge $offers (dict "url" $pg.Permalink) }}              {{ end }}

  {{/* platforms + helpers for actions */}}
  {{ $platforms := $pg.Params.actionPlatform }}
  {{ if not $platforms }}{{ $platforms = slice "http://schema.org/DesktopWebPlatform" "http://schema.org/MobileWebPlatform" }}{{ end }}
  {{ $buyURL     := or $pg.Params.buyURL     (printf "%s#buy" $pg.Permalink) }}
  {{ $bookingURL := or $pg.Params.bookingURL (printf "%s#book" $pg.Permalink) }}
  {{ $readURL    := or $pg.Params.readURL    (printf "%s#read" $pg.Permalink) }}
  {{ $viewURL    := or $pg.Params.viewURL    (printf "%s#view" $pg.Permalink) }}

  {{ $base := dict "@context" "https://schema.org" "@type" $type "inLanguage" $lang }}

  {{ if eq $type "BlogPosting" }}
    {{ $bp := dict
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" $pg.Permalink)
      "headline" $pg.Title
      "description" (or $pg.Params.description $pg.Summary)
      "datePublished" ($pg.PublishDate | time.Format "2006-01-02T15:04:05Z07:00")
      "dateModified"  ($pg.Lastmod     | time.Format "2006-01-02T15:04:05Z07:00")
      "author" (dict "@type" "Person" "name" (or $pg.Params.author $siteAuthor))
      "image" (cond (ne $img "") (slice $img) (slice))
      "publisher" (dict "@type" "Organization" "name" $orgName "logo" (cond (ne $orgLogo "") (dict "@type" "ImageObject" "url" $orgLogo) nil))
    }}
    <script type="application/ld+json">{{ merge $base $bp | jsonify | safeJS }}</script>

  {{ else if eq $type "Service" }}
    {{ $svc := dict
      "name" (or $pg.Params.name $pg.Title)
      "description" (or $pg.Params.description $pg.Summary)
      "serviceType" (or $pg.Params.serviceType $pg.Title)
      "provider" $provider
      "areaServed" (or $pg.Params.areaServed .Site.Params.defaultArea)
      "serviceAudience" $pg.Params.serviceAudience
      "hoursAvailable"  $pg.Params.hoursAvailable
      "brand" (or $pg.Params.brand $orgName)
      "sameAs" $pg.Params.sameAs
      "url" $pg.Permalink
      "image" (cond (ne $img "") (slice $img) (slice))
    }}
    {{ if gt (len $offers) 0 }}{{ $svc = merge $svc (dict "offers" $offers) }}{{ end }}

    {{/* potentialAction: allow override; else build Reserve/Buy */}}
    {{ $actions := $pg.Params.potentialAction }}
    {{ if not $actions }}
      {{ $actions = slice }}
      {{ with $bookingURL }}
        {{ $actions = append $actions (dict
          "@type" "ReserveAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" . "inLanguage" $lang "actionPlatform" $platforms)
        ) }}
      {{ end }}
      {{ if or (gt (len $offers) 0) $pg.Params.buyURL }}
        {{ $actions = append $actions (dict
          "@type" "BuyAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" $buyURL "inLanguage" $lang "actionPlatform" $platforms)
          "expectsAcceptanceOf" (cond (gt (len $offers) 0) $offers nil)
        ) }}
      {{ end }}
    {{ end }}
    {{ if $actions }}{{ $svc = merge $svc (dict "potentialAction" $actions) }}{{ end }}
    <script type="application/ld+json">{{ merge $base $svc | jsonify | safeJS }}</script>

  {{ else if eq $type "VisualArtwork" }}
    {{ $va := dict
      "name" (or $pg.Params.name $pg.Title)
      "description" (or $pg.Params.description $pg.Summary)
      "creator" (or $pg.Params.creator (dict "@type" "Person" "name" (or $pg.Params.artist $siteAuthor)))
      "artist" (or $pg.Params.artist $siteAuthor)
      "artMedium" $pg.Params.artMedium
      "artform"  $pg.Params.artform
      "artworkSurface" $pg.Params.artworkSurface
      "material" $pg.Params.material
      "genre"    $pg.Params.genre
      "keywords" $pg.Params.keywords
      "dateCreated" $pg.Params.dateCreated
      "image" (cond (ne $img "") (slice $img) (slice))
      "url" $pg.Permalink
      "isPartOf" (dict "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL)
    }}
    {{ with $pg.Params.width  }}{{ $va = merge $va (dict "width"  .) }}{{ end }}
    {{ with $pg.Params.height }}{{ $va = merge $va (dict "height" .) }}{{ end }}
    {{ with $pg.Params.depth  }}{{ $va = merge $va (dict "depth"  .) }}{{ end }}
    {{ if gt (len $offers) 0 }}{{ $va = merge $va (dict "offers" $offers) }}{{ end }}

    {{/* potentialAction: override or View/Buy */}}
    {{ $actions := $pg.Params.potentialAction }}
    {{ if not $actions }}
      {{ $actions = slice }}
      {{ with $viewURL }}
        {{ $actions = append $actions (dict
          "@type" "ViewAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" . "inLanguage" $lang "actionPlatform" $platforms)
        ) }}
      {{ end }}
      {{ if or (gt (len $offers) 0) $pg.Params.buyURL }}
        {{ $actions = append $actions (dict
          "@type" "BuyAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" $buyURL "inLanguage" $lang "actionPlatform" $platforms)
          "expectsAcceptanceOf" (cond (gt (len $offers) 0) $offers nil)
        ) }}
      {{ end }}
    {{ end }}
    {{ if $actions }}{{ $va = merge $va (dict "potentialAction" $actions) }}{{ end }}
    <script type="application/ld+json">{{ merge $base $va | jsonify | safeJS }}</script>

  {{ else if eq $type "Book" }}
    {{ $bk := dict
      "name" (or $pg.Params.name $pg.Title)
      "alternateName" $pg.Params.alternateName
      "author" (or $pg.Params.author (dict "@type" "Person" "name" $siteAuthor))
      "publisher" (or $pg.Params.publisher (dict "@type" "Organization" "name" $orgName))
      "isbn" $pg.Params.isbn
      "bookEdition" $pg.Params.bookEdition
      "numberOfPages" $pg.Params.numberOfPages
      "datePublished" (or $pg.Params.datePublished ($pg.PublishDate | time.Format "2006-01-02"))
      "description" (or $pg.Params.description $pg.Summary)
      "image" (cond (ne $img "") (slice $img) (slice))
      "sameAs" $pg.Params.sameAs
      "url" $pg.Permalink
    }}
    {{ if gt (len $offers) 0 }}{{ $bk = merge $bk (dict "offers" $offers) }}{{ end }}

    {{/* potentialAction: override or Read/Buy */}}
    {{ $actions := $pg.Params.potentialAction }}
    {{ if not $actions }}
      {{ $actions = slice }}
      {{ with $readURL }}
        {{ $actions = append $actions (dict
          "@type" "ReadAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" . "inLanguage" $lang "actionPlatform" $platforms)
        ) }}
      {{ end }}
      {{ if or (gt (len $offers) 0) $pg.Params.buyURL }}
        {{ $actions = append $actions (dict
          "@type" "BuyAction"
          "target" (dict "@type" "EntryPoint" "urlTemplate" $buyURL "inLanguage" $lang "actionPlatform" $platforms)
          "expectsAcceptanceOf" (cond (gt (len $offers) 0) $offers nil)
        ) }}
      {{ end }}
    {{ end }}
    {{ if $actions }}{{ $bk = merge $bk (dict "potentialAction" $actions) }}{{ end }}
    <script type="application/ld+json">{{ merge $base $bk | jsonify | safeJS }}</script>

  {{ else if eq $type "WebSite" }}
    {{ $ws := dict
      "name" .Site.Title
      "url"  .Site.BaseURL
      "publisher" (dict "@type" "Organization" "name" $orgName)
      "potentialAction" (dict
        "@type" "SearchAction"
        "target" (printf "%ssearch/?q={search_term_string}" .Site.BaseURL)
        "query-input" "required name=search_term_string"
      )
    }}
    <script type="application/ld+json">{{ merge $base $ws | jsonify | safeJS }}</script>

  {{ else }}
    {{ $wp := dict
      "name" $pg.Title
      "url"  $pg.Permalink
      "description" (or $pg.Params.description $pg.Summary)
      "isPartOf" (dict "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL)
      "image" (cond (ne $img "") (slice $img) (slice))
    }}
    <script type="application/ld+json">{{ merge $base $wp | jsonify | safeJS }}</script>
  {{ end }}
{{ end }}
