Redirect /wp-content/uploads/2011/11/TESIS07_ed2011.pdf /var/log/2011/11/02/El-problema-del-viajante-de-comercio/TESIS07_ed2011.pdf
Redirect /es/blog/category/prensa/ /es/categories/press/
Redirect /blog/category/press/ /categories/press/
Redirect /wp-content/uploads/2020/10/CampusMac2007_pdf.pdf /es/var/log/2007/08/08/Principios-de-Fotografia-en-la-CampusMac-2007/CampusMac2007_pdf.pdf

RewriteEngine On
RewriteCond %{QUERY_STRING} ^p=1100$
RewriteRule ^$ https://fransimo.info/docs/art/new_media_art/I_dreamed_about_a_human_being/? [R=301,L]

RewriteCond %{QUERY_STRING} ^p=9279$
RewriteRule ^$ https://fransimo.info/docs/art/new_media_art/Shared_folder_v21/? [R=301,L]