Redirect /wp-content/uploads/2011/11/TESIS07_ed2011.pdf /var/log/2011/11/02/El-problema-del-viajante-de-comercio-heurística-basada-georeferencias-1996-1998/TESIS07_ed2011.pdf
Redirect /?p=1100 /docs/art/new_media_art/I_dreamed_about_a_human_being/

